{% extends "chronology/base.html" %}

{% load staticfiles %}

{% block contents_body %}
<body>
<!--
==================================================
    Links Section Start
================================================== -->
<section id="clients">
    <div class="container" style="margin-top: 100px;">
        <div class="row">
            <div class="col-md-12">
                <h2 class="subtitle text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".3s">
                    Our Happy Clinets</h2>
                <p class="subtitle-des text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay=".5s">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, error.</p>
                <div id="clients-logo" class="owl-carousel">
                    {% for link in links %}
                    <div>
                        {% with link.logo as image_static %}
                            <img src="{% static image_static %}"
                                 style="height: 100%;"
                                 alt="image"/>
                        {% endwith %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

</body>
{% endblock contents_body %}
